@page "/"

<h1 class="h1-responsive font-weight-bold text-center my-4">Welcome to my website</h1>


@*<h2> Nguyễn Thị Phương Oanh. She is my wife :) </h2>*@
<center>
    <img src="../Uploads/luvu.jpg" width="49%">
    <img src="../Uploads/luvu.jpg" width="49%">
    <img src="../Uploads/myprincess.png" width="49%">
</center>
