@page "/Map"
<h3>Address</h3>
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title-5 m-b-35"></h3>
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59549.78672865117!2d105.64678642275021!3d21.118080403086587!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3134f8a97d45abe5%3A0xfa0e3ace5d0110a6!2zxJBhbiBQaMaw4bujbmcsIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1606566550984!5m2!1svi!2s" width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="color:#666;text-align:left;font-size:12px"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
