@inherits LayoutComponentBase
@*@using Blazored.Toast.Configuration;*@

@*<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="3"
                SuccessClass="success-toast-override"
                SuccessIconClass="fa fa-check"
                ErrorIconClass="fa fa-times"
                InfoIconClass="fa fa-info"
                WarningIconClass="fa fa-warning" />*@

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <div class="main">
        <div class="top-row px-4">
            <a href="http://fb.com/NVM.Error" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
